/* Corpo */

body {
    background-color: #121212;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* navbar */

nav {
    background-color: transparent;
    box-shadow: none;
    color: #ffffff;
}


/* Painel indicativo */

#badgeX,
#badgeO,
#badgeEmpate {
    border-radius: 10px;
    text-align: center;
}

#paraBadgeX,
#paraBadgeO,
#paraBadgeEmpate {
    padding-left: 4px;
    border-radius: 10px;
    background-color: #a9a9a9;
}


/* casas */

.container .col {
    width: 50px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.container .row {
    margin: 0;
}

#l1c1,
#l1c2,
#l1c3 {
    border-top: none;
    border-left: none;
}

#l2c1,
#l2c2,
#l2c3 {
    border-top: none;
    border-left: none;
}

#l3c1,
#l3c2,
#l3c3 {
    border-top: none;
    border-bottom: none;
    border-left: none;
}

#l1c3,
#l2c3,
#l3c3 {
    border-right: none;
}


/* modal de empate */

#modalEmpate {
    visibility: hidden;
}


/* rodape */

.page-footer {
    background-color: #121212;
    color: #ffffff;
    bottom: 0;
}

.page-footer p a {
    color: #121212;
}

.page-footer p a:hover {
    color: #121212;
}