
/* Corpo */
body {
    background-color: #D5DBDB;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
}

main {
    flex: 1 0 auto;
}
/* casas */

.container .col{
    height: 80px;
    border: 1px solid black;
}


#l1c1, #l1c2, #l1c3 {
    border-top: none;
    border-left: none; 
}

#l2c1, #l2c2, #l2c3 {
    border-top: none;
    border-left: none; 
}


#l3c1, #l3c2, #l3c3 {
    border-top: none; 
    border-bottom: none;
    border-left: none; 
}

#l1c3, #l2c3, #l3c3 {
    border-right: none;
}




/* rodape */
.page-footer {
    background-color: #a9a9a9;
    color: #000000;
    bottom: 0;
}

.page-footer p a{
    color: #000000;
}

.page-footer p a:hover{
    color: #000000;
}